<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    <title>{% if page.title_full %}{{page.title_full}}{% else %}{{page.title}} - {{site.title_short | default: site.title}}{% endif %}</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <h4><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h4>
          </div> <!-- col -->

          <div class="col-md-9">
            {{ content }}
          </div> <!-- col -->

        </div> <!-- row -->
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.2.0/anchor.min.js"
            integrity="sha256-m1eTvwEHwmsw4+XKF7BshClVJEPwTVycveNl0CS0Mkk="
            crossorigin="anonymous"></script>
    <script>
      anchors.add();

      // https://github.com/twbs/bootstrap/issues/1768#issuecomment-6531466
      var shiftWindow = function() { scrollBy(0, -100) };
      if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
    </script>

  </body>
</html>
